@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Signika+Negative:wght@400;500;600;700&display=swap');

:root {
    --background: #ffffff;
    /* White background */
    --foreground: #0056b3;
    /* Medium blue text */
    --container-background: #f8f9fa;
    /* Very light gray for container */
    --font-sans: 'Signika Negative', sans-serif;
    /* Updated font for headings */
    --font-body: 'Lato', sans-serif;
    /* Added Lato for body copy */
}

body {
    background: #d9d9d9;
    background: radial-gradient(circle, rgba(217, 217, 217, 1) 0%, rgba(207, 207, 207, 1) 76%);
    color: #333333;
    /* Set overall text color to dark gray */
    font-family: var(--font-body);
}

header {
    background-color: var(--foreground);
    color: var(--background);
    padding: 1rem;
    text-align: center;
    font-family: var(--font-sans);
}

footer {
    background-color: var(--foreground);
    color: var(--background);
    padding: 1rem;
    text-align: center;
    font-family: var(--font-sans);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: var(--font-sans);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.project {
    background-color: var(--container-background);
    border: 3px solid var(--foreground);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.project h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--foreground)
}

.project p {
    font-size: 1rem;
    color: var(--foreground);
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: var(--font-body);
}

/* Adjusted styles for bio to ensure content is equally centered */
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 2em;
}

.bio-image {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

/* Added hover effect to spin the bio image */
.bio-image:hover {
    animation: spin 0.75s ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bio-text {
    font-size: 1.25rem;
    line-height: 1.5;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag {
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 1em;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: var(--font-body);
}

a {
    color: var(--foreground);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}